<%- include('components/head') %>
<link rel="stylesheet" href="/css/system.css">
    <title>app</title>
</head>
<body>
    <div id="app">
        <%- include('components/navbar') %>
        <div id="app-content">
            <h4>Love the Internet?</h4>
            <!--
                what i love about the internet
            -->
            <b>Well, what do you love about it?</b>
            <%- include('components/poll') %>
        </div>
    </div>
    
<!-- views/components/foot.ejs -->
<%- include('components/foot') %>