<div id="navbar">
    <div id="navtray">
        <ul id="menus"></ul>
        <%- include('newsletter') %>
        <div id="navfoot">
            <a href="https:twitter.com/iamaiyegbayo">
                Follow me on twitter
            </a>
            <a href="https:likendin.com/iamaiyegbayo">
                Connect with me on LikendIn
            </a>
            <a href="mailto:press@aiyegbayo.com">
                Info & Press
            </a>
            <a href="/legal">
                Legal
            </a>
            <a>
                AIYEGBAYO &copy; 2022
            </a>
        </div>
    </div>
    <div id="navtoggle">
        <b>MENU</b>
    </div>
</div>