<div id="poll">
    <div id="pollMain">
        <ul id="options">
            <li>1. Arts & Politics</li>
            <li>2. Bussiness</li>
            <li>3. Computing & Engineering</li>
            <li>4. Medicine</li>
            <li>5. Space</li>
            <li>6. Sports</li>
            <li>7. Religion</li>
        </ul>
        <form action="/lovetheweb" method="post">
            <input type="text" placeholder="Enter Name" name="pollName" id="pollName">
            <input type="email" placeholder="Enter Email" name="pollEmail" id="pollEmail">
            <button>submit</button>
        </form>
    </div>
</div>